<!-- customer_profile.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Customer Profile</h2>
  <p>Welcome, {{ user.username }}</p>
  
  <h3>Edit Profile</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
  </form>

  {% if customer.profile_picture %}
    <h3>Profile Picture</h3>
    <img src="{{ customer.profile_picture.url }}" alt="{{ user.username }}'s profile picture" width="150">
  {% endif %}

  {% if customer.pickup_location %}
    <h3>Pickup Location</h3>
    <p>{{ customer.pickup_location }}</p>
  {% endif %}
{% endblock %}
