<!-- organization_profile.html -->

{% extends 'base.html' %}

{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'profiles.css' %}">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
  </style>
</head>

{% block content %}
  <h2>Organization Profile</h2>
  <p>Welcome, {{ user.username }}</p>
  
  <h3>Edit Profile</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
  </form>

  {% if organization.profile_picture %}
    <h3>Profile Picture</h3>
    <img src="{{ organization.profile_picture.url }}" alt="{{ user.username }}'s profile picture" width="150">
  {% endif %}

  {% if organization.location %}
    <h3>Location</h3>
    <p>{{ organization.location }}</p>
  {% endif %}
{% endblock %}
