<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    </style>
    <title>Organization Signup</title>
</head>
<body>
    <h1>Organization Signup</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{% url 'organization_login' %}">Log in</a></p>
</body>
</html>
